@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>What is it?</h4>
<p>socialsounds is a media aggregating web platform which allows users to watch, listen to, and share media though a single wep page.</p> 
<h4>How does it work?</h4>
<p>socialsounds uses third party APIs to embed media players in a web page. Though a search box, you can search for content from third-party sources and add the content to a broadcast via a queue.</p>
<h4>What is the device compatibility?</h4> 
<p>socialsounds will be compatible with computers running modern operating systems, Android phones & tablets, iPhones & iPads, and Windows phones.</p>
<h4>Is it legal?</h4>
<p>socialsounds will not host any content, nor will it provide means for users to upload media to its servers. socialsound will only stream content from third-parties via their official APIs, while respecting their respective terms of use. We believe socialsounds is legal.</p>
