@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Github:</strong>   <a href="https://github.com/ggirard27">https://github.com/ggirard27</a><br/>
    <strong>Email:</strong> <a href="mailto:guillaume.roy.girard@outlook.com">guillaume.roy.girard@outlook.com</a><br/>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/groygirard">https://www.linkedin.com/in/groygirard</a>
</address>